-

	var aData = [
		{
			h3: '價值獨尊',
			class: 'blue',
			span: 'V',
			h1: 'alue',
			name: 'value',
			items: [
				{
					span: '趨勢價值：',
					p_2: '醫療產業掌握人口高齡化及研發創新等兩大趨勢，適合長期持有。',
				},
				{
					span: '成長價值：',
					p_2: '受惠逐漸調高納入國際指數比重，加上政策面加持，中國市場成長性強。',
				},
				{
					span: '績優價值：',
					p_2: '台灣具估值面優勢，績優企業深受外資青睞。',
				},
			]
		},
		{
			h3: '現金為王',
			class: 'blue',
			span: 'I',
			h1: 'ncome',
			name: 'income',
			items: [
				{
					p_1: '在市場波動的環境中，固定收益是追求穩健收益的好方法，長期累積效果佳。',
				},
				{
					p_1: '印度債市具備投資級信評，加上較高收益優勢，可望醞釀長線行情。'
				},
			]
		},
		{
			h3: '靈活至上',
			class: 'blue',
			span: 'P',
			h1: 'ortfolio',
			name: 'portfolio',
			items: [
				{
					p_1: '在機會與挑戰並存的環境下，投資組合需要分散多元，才能做好波動管理。',
				},
				{
					p_1: '全球經濟溫和成長，投資方向為股債兼備，透過靈活的資產配置，追求長遠投資收益'
				},
			]
		},
	]

	var bData = [
		{
			bkclass: 'bk_green',
			h2: '創新題材不斷',
			name: 'fda',
			items: [
				{
					h5: '2018年美國FDA核准新藥件數為',
				},
				{
					class: 'green',
					span: '59',
				},
				{
					h5: '項，超越前年的',
				},
				{
					class: 'green',
					span: '46',
				},
				{
					h5: '項，也是',
				},
				{
					class: 'green',
					span: '20年以來最高',
				},
				{
					h5: '！不僅凸顯產業創新成長力道強勁，也顯示政府提供醫療產業相對友善的環境。',
				},
			],
			p: '資料來源：FDA，保德信投信整理，2019/2',
		},
		{
			bkclass: 'bk_green',
			h2: '長期需求暢旺',
			name: 'needle',
			items: [
				{
					h5: '受惠於人口高齡化趨勢與對疾病治療的重視，全球藥品需求成長迅速。預估全球藥品',
				},
				{
					class: 'green',
					span: '2018-2024年的年均複合成長率將達6.4%，',
				},
				{
					h5: '增長力道強勁。',
				},
			],
			p: '資料來源：EvaluatePharma，Outlook to 2024，保德信投信整理，2019/01。',
		},
	]

	var cData = [
		{
			bkclass: 'bk_orange',
			h2: '政策利多出台',
			name: 'house',
			items: [
				{
					h5: '中國政府政策利多力道持續擴大，包括減稅、降準等財政與貨幣政策更加積極，提振經濟態度明確，',
				},
				{
					class: 'orange',
					span: '預期將為A股帶來一波中長期的穩紮穩打行情。',
				},
			],
			p: '資料來源：保德信投信整理，2019/2',
		},
		{
			bkclass: 'bk_orange',
			h2: '豐沛資金不斷',
			name: 'tower',
			items: [
				{
					h5: 'A股國際化進程不斷加速，外資已成為A股重要資金來源之一，',
				},
				{
					class: 'orange',
					span: '預期2019年流入A股外資規模約莫4000億人民幣',
				},
				{
					h5: '，儼然成為A股穩健發展的動力。',
				},
			],
			p: '資料來源：MSCI、興業證券，保德信投信整理，2019/3',
		},
	]

	var dData = [
		{
			bkclass: 'bk_blue',
			h2: '優質高股利率',
			name: '101',
			items: [
				{
					h5: '',
				},
				{
					class: 'light_blue',
					span: '台股股利率高達4%',
				},
				{
					h5: '，遠高於亞太主要國家！並且台股基本面相較其他新興國家更為穩定，為新興市場中優質的投資標的。',
				}
			],
			p: '資料來源：Bloomberg，2019/2/20。',
		},
		{
			bkclass: 'bk_blue',
			h2: '5G話題超夯',
			name: 'chip',
			items: [
				{
					h5: '5G終端裝置商用化已進入衝刺階段，而台灣廠商在晶片、關鍵零組件與系統技術皆具國際競爭力，',
				},
				{
					class: 'light_blue',
					span: '相關供應鏈可望受惠5G趨勢',
				},
				{
					h5: '而提升業績成長。',
				},
			],
			p: '資料來源：IC Insights，中信建設證券，保德信投信整理，2018/12',
		},
	]
	
	var eData = [
		{
			bkclass: 'bk_blue',
			h2: '經濟成長強勁',
			name: 'castle',
			items: [
				{
					h5: '印度3月份製造業採購經理人指數52.6點，位居新興市場前段班！ ',
				},
				{
					class: 'green_blue',
					span: '加上今年預估將有7.4%的經濟成長率',
				},
				{
					h5: '，成長動能十分強勁。',
				}
			],
			p: '資料來源：RBI，保德信投信整理，2019/3。',
		},
		{
			bkclass: 'bk_blue',
			h2: '較高收益優勢',
			name: 'elephant',
			items: [
				{
					h5: '印度公債享有投資級評等，但',
				},
				{
					class: 'green_blue',
					span: '殖利率卻高達6.7%-7.3％，高於全球高收益債的6.5％',
				},
				{
					h5: '，匯率亦相對穩定，高評等與收益率兼具。',
				},
			],
			p: '資料來源：Bloomberg。資料期間：截至2019/3/11。註：評等為穆迪對各國長期債務評等。註1：含公司債、公債，不含資產擔保型債券，且到期天數超過2年，為彭博所認可之境內債券。註2：穆迪於2017年調升印度長期評等。殖利率採用當期十年公債殖利率。全球投資級債、新興市場當地債、全球高收益債均採用Bloomberg Barclays指數，殖利率為目前平均殖利率。',
		},
	]

	var listaData = [
		{
			div_1: '三大利多加持',
			div_2: '醫療基金續旺',
			p: '近期美國FDA局長意外請辭，引起市場對醫療產業擔憂，醫療類股出現較大拉回整理。保德信投信指出，因短期事件影響，醫療產業股價估值偏低，以目前「藥價負面影響降低」、「大量新藥核准」，以及「生技產業併購溢價」等三大利多，有助提振醫療產業走勢，建議可逢低加碼醫療產業。',
			date: '2019/03/12'
		},
		{
			div_1: '市場波動常態來臨',
			div_2: '五力均衡配置為上',
			p: '自去年底以來全球股市持續反彈，特受市場矚目之陸股短短兩個月從熊市轉到牛市的華麗轉身，市場為之喝采。保德信投信指出，2019年機會與風險並存，全球經濟表現並未太差，但景氣趨緩已是不爭事實。今年以來市場波動已成常態，第二季布局可著重具有成長性、抗波動等防禦較佳資產布局。',
			date: '2019/03/20'
		},
		{
			div_1: '台股氣勢如虹',
			div_2: '萬一近關情怯',
			p: '今年以來台股氣勢如虹，加權指數持續創下新高，資金行情表現超乎預期，美國S&P500離歷史高點僅有1.8%距離，然對照企業獲利趨緩表現，顯見市場受到資金買盤推動。近來台股進入融券回補行情，指數維持在10,8000點高檔震盪，加重融券戶心理壓力，融券回補成為市場堅定買盤。',
			date: '2019/04/12'
		},
		{
			div_1: '通膨低於預期降息空間大',
			div_2: '印債錢景佳',
			p: '印度央行近期下調GDP和通膨成長預期，如市場預期印度央行決議下調一碼，此為印度央行今年以來第二次降息；雖上週(14日)公佈CPI略為上揚，但仍遠低於印度央行目標，未來降息機率仍高。保德信投信認為，央行降息對於債券影響大，債券殖利率曲線可望上揚，特別有利於短期債券上攻空間。',
			date: '2019/04/15'
		},
		{
			div_1: '經濟數據報喜',
			div_2: '陸股續迎漲聲行情',
			p: '近期中國公佈三月出口數據和社會融資規模，雙雙優於市場預期，顯見中國政府寬信用政策，成為景氣回升的催化劑，市場預期中國景氣有望提前走出谷底。',
			date: '2019/04/15'
		},
	]
  