-
	var spotData = [
		{
			id: '01',
			name: ['保德信', '金滿意基金'],
			children: [
				{ name: '新台幣級別',
					spots: [
						'土地銀行',
						'合作金庫銀行',
						'華南銀行',
						'臺灣銀行',
						'彰化銀行',
						'國泰世華銀行',
						'高雄銀行',
						'王道銀行',
						'臺灣企銀',
						'渣打銀行',
						'京城銀行',
						'法國巴黎銀行',
						'瑞士銀行',
						'華泰銀行',
						'新光銀行',
						'陽信銀行',
						'板信銀行',
						'三信銀行',
						'高雄三信',
						'郵局',
						'聯邦銀行',
						'遠東銀行',
						'元大銀行',
						'永豐銀行',
						'凱基銀行',
						'台新銀行',
						'日盛銀行',
						'基富通證券',
						'日盛證券',
						'統一證券',
						'元富證券',
						'兆豐證券',
						'群益金鼎證券',
						'凱基證券',
						'華南永昌證券',
						'元大證券',
					]
				},
			]
		},
		{
			id: '02',
			name: ['保德信全球', '醫療生化基金'],
			children: [
				{ name: '新台幣/美元級別',
					spots: [
						'土地銀行',
						'第一銀行',
						'彰化銀行',
						'國泰世華銀行',
						'王道銀行',
						'板信銀行',
						'三信銀行',
						'聯邦銀行',
						'遠東銀行',
						'玉山銀行',
						'日盛銀行',
						'中國信託銀行',
						'基富通證券',
						'日盛證券',
						'統一證券',
						'兆豐證券',
						'群益金鼎證券',
						'凱基證券',
						'元大證券',
					]
				},
				{ name: '新台幣級別',
					spots: [
						'臺灣銀行',
						'合作金庫銀行',
						'華南銀行',
						'上海銀行',
						'台北富邦銀行',
						'高雄銀行',
						'兆豐銀行',
						'臺灣企銀',
						'渣打銀行',
						'京城銀行',
						'法國巴黎銀行',
						'瑞士銀行',
						'華泰銀行',
						'新光銀行',
						'陽信銀行',
						'高雄三信',
						'郵局',
						'元大銀行',
						'永豐銀行',
						'凱基銀行',
						'星展(台灣)銀行',
						'台新銀行',
						'安泰銀行',
						'元富證券',
						'康和證券',
						'華南永昌證券',
					]
				},
			]
		},
		{
			id: '03',
			name: ['保德信中國', '品牌基金'],
			children: [
				{ name: '新台幣/美元/人民幣級別',
					spots: [
						'合作金庫銀行',
						'第一銀行',
						'華南銀行',
						'高雄銀行',
						'兆豐銀行',
						'王道銀行',
						'臺灣企銀',
						'渣打銀行',
						'京城銀行',
						'瑞士銀行',
						'華泰銀行',
						'陽信銀行',
						'板信銀行',
						'聯邦銀行',
						'遠東銀行',
						'日盛銀行',
						'中國信託銀行',
						'基富通證券',
						'統一證券',
						'元大證券',
					]
				},
				{ name: '新台幣/美元級別',
					spots: [
						'臺灣銀行'
					]
				},
				{ name: '新台幣級別',
					spots: [
						'土地銀行',
						'彰化銀行',
						'上海銀行',
						'國泰世華銀行',
						'新光銀行',
						'三信銀行',
						'高雄三信',
						'郵局',
						'元大銀行',
						'玉山銀行',
						'凱基銀行',
						'日盛證券',
						'元富證券',
						'兆豐證券',
						'群益金鼎證券',
						'凱基證券',
						'華南永昌證券',
					]
				},
			]
		},
		{
			id: '04',
			name: ['保德信策略', '成長ETF基金'],
			children: [
				{ name: '新台幣/美元級別',
					spots: [
						'第一銀行',
						'華南銀行',
						'高雄銀行',
						'兆豐銀行',
						'王道銀行',
						'京城銀行',
						'玉山銀行',
						'第一金證券',
						'統一證券',
						'元富證券',
						'元大證券',
					]
				},
				{ name: '新台幣級別',
					spots: [
						'三信銀行',
						'聯邦銀行',
					]
				},
			]
		},
		{
			id: '05',
			name: ['保德印度機會債券基金', '(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)'],
			children: [
				{ name: '新台幣/美元級別',
					spots: [
						'華南銀行',
						'高雄銀行',
						'京城銀行',
						'華泰銀行',
						'玉山銀行',
						'日盛銀行',
						'基富通證券',
						'日盛證券',
						'統一證券',
						'元富證券',
						'元大證券',
					]
				},
				{ name: '新台幣月配級別',
					spots: [
						'三信銀行'
					]
				},
			]
		},
	]