//  Hero Image, Flush : BEGIN 
tr
  td(style='background-color: #ffffff;')
    img.g-img(src='https://via.placeholder.com/1360x600' width='680' height alt='alt_text' border='0' style='width: 100%; max-width: 680px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; color: #555555; margin: auto; display: block;')
//  Hero Image, Flush : END 
//  1 Column Text + Button : BEGIN 
tr
  td(style='background-color: #ffffff;')
    table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
      tbody
        tr
          td(style='padding: 20px; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
            h1(style='margin: 0 0 10px; font-size: 25px; line-height: 30px; color: #333333; font-weight: normal;').
              
              Praesent laoreet malesuada cursus.
            p(style='margin: 0 0 10px;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
            ul(style='padding: 0; margin: 0; list-style-type: disc;')
              li.list-item-first(style='margin:0 0 10px 30px;') A list item.
              li(style='margin:0 0 10px 30px;') Another list item here.
              li.list-item-last(style='margin: 0 0 0 30px;') Everyone gets a list item, list items for everyone!
        tr
          td(style='padding: 0 20px 20px;')
            //  Button : BEGIN 
            table(align='center' role='presentation' cellspacing='0' cellpadding='0' border='0' style='margin: auto;')
              tbody
                tr
                  td.button-td.button-td-primary(style='border-radius: 4px; background: #222222;')
                    a.button-a.button-a-primary(href='https://google.com/' style='background: #222222; border: 1px solid #000000; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;') Centered Primary Button
            //  Button : END 
//  1 Column Text + Button : END 
//  Background Image with Text : BEGIN 
tr
  //  Bulletproof Background Images c/o https://backgrounds.cm 
  td(style='text-align: center; background-image: url(\'https://via.placeholder.com/680x180/222222/666666\'); background-color: #222222; background-position: center center !important; background-size: cover !important;')
    //
      [if gte mso 9]>
                              <v:image xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0; display: inline-block; width: 680px; height: 180px;" src="https://via.placeholder.com/680x180/222222/666666" />
                              <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="border: 0; display: inline-block; position: absolute; width: 680px; height: 180px;">
                              <v:fill opacity="0%" color="#222222" />
                              <![endif]
    div
      //
        [if mso]>
                                    <table align="center" role="presentation" border="0" cellspacing="0" cellpadding="0" width="500">
                                    <tr>
                                    <td width="500">
                                    <![endif]
      table(role='presentation' border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width:500px; margin: auto;')
        tbody
          tr
            td(style='text-align: center; padding: 40px 20px; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #ffffff;')
              p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
      //
        [if mso]>
                                    </td>
                                    </tr>
                                    </table>
                                    <![endif]
    //
      [if gte mso 9]>
                              </v:fill>
                              </v:rect>
                              </v:image>
                              <![endif]
//  Background Image with Text : END 
//  2 Even Columns : BEGIN 
tr
  td(align='center' valign='top' style='font-size:0; padding: 10px; background-color: #ffffff;')
    //
      [if mso]>
                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="660">
                              <tr>
                              <td valign="top" width="330">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; width:100%; min-width:200px; max-width:330px; vertical-align:top;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(style='padding: 10px;')
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='font-size: 14px; text-align: left;')
                tbody
                  tr
                    td
                      img.center-on-narrow(src='https://via.placeholder.com/310' width='310' height border='0' alt='alt_text' style='width: 100%; max-width: 310px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                  tr
                    td.stack-column-center(style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding-top: 10px;')
                      p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    //
      [if mso]>
                              </td>
                              <td valign="top" width="330">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; width:100%; min-width:200px; max-width:330px; vertical-align:top;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(style='padding: 10px;')
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='font-size: 14px;text-align: left;')
                tbody
                  tr
                    td
                      img.center-on-narrow(src='https://via.placeholder.com/310' width='310' height border='0' alt='alt_text' style='width: 100%; max-width: 310px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                  tr
                    td.stack-column-center(style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding-top: 10px;')
                      p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    //
      [if mso]>
                              </td>
                              </tr>
                              </table>
                              <![endif]
//  2 Even Columns : END 
//  3 Even Columns : BEGIN 
tr
  td(align='center' valign='top' style='font-size:0; padding: 10px; background-color: #ffffff;')
    //
      [if mso]>
                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="660">
                              <tr>
                              <td valign="top" width="220">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 220px; min-width:160px; vertical-align:top; width:100%;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(style='padding: 10px;')
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='font-size: 14px;text-align: left;')
                tbody
                  tr
                    td
                      img.center-on-narrow(src='https://via.placeholder.com/200' width='200' height border='0' alt='alt_text' style='width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                  tr
                    td.stack-column-center(style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding-top: 10px;')
                      p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    //
      [if mso]>
                              </td>
                              <td valign="top" width="220">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 220px; min-width:160px; vertical-align:top; width:100%;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(style='padding: 10px;')
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='font-size: 14px;text-align: left;')
                tbody
                  tr
                    td
                      img.center-on-narrow(src='https://via.placeholder.com/200' width='200' height border='0' alt='alt_text' style='width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                  tr
                    td.stack-column-center(style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding-top: 10px;')
                      p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    //
      [if mso]>
                              </td>
                              <td valign="top" width="220">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 220px; min-width:160px; vertical-align:top; width:100%;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(style='padding: 10px;')
              table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%' style='font-size: 14px;text-align: left;')
                tbody
                  tr
                    td
                      img.center-on-narrow(src='https://via.placeholder.com/200' width='200' height border='0' alt='alt_text' style='width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
                  tr
                    td.stack-column-center(style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding-top: 10px;')
                      p(style='margin: 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
    //
      [if mso]>
                              </td>
                              </tr>
                              </table>
                              <![endif]
//  3 Even Columns : END 
//  Thumbnail Left, Text Right : BEGIN 
tr
  //  dir=ltr is where the magic happens. This can be changed to dir=rtl to swap the alignment on wide while maintaining stack order on narrow. 
  td(dir='ltr' height='100%' valign='top' width='100%' style='font-size:0; padding: 10px; background-color: #ffffff;')
    //
      [if mso]>
                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="660" style="width: 660px;">
                              <tr>
                              <td valign="top" width="220" style="width: 220px;">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 220px; min-width:160px; vertical-align:top; width:100%;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(dir='ltr' style='padding: 0 10px 10px 10px;')
              img.center-on-narrow(src='https://via.placeholder.com/200' width='200' height border='0' alt='alt_text' style='width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; color: #555555;')
    //
      [if mso]>
                              </td>
                              <td valign="top" width="440" style="width: 440px;">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 440px; min-width:280px; vertical-align:top;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td.center-on-narrow(dir='ltr' style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0; text-align: left;')
              h2(style='margin: 0 0 10px 0; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 18px; line-height: 22px; color: #333333; font-weight: bold;').
                
                Class aptent taciti sociosqu
              p(style='margin: 0 0 10px 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              //  Button : BEGIN 
              table.center-on-narrow(role='presentation' cellspacing='0' cellpadding='0' border='0' style='float:left;')
                tbody
                  tr
                    td.button-td.button-td-primary(style='border-radius: 4px; background: #222222;')
                      a.button-a.button-a-primary(href='https://google.com/' style='background: #222222; border: 1px solid #000000; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;') Primary Button
              //  Button : END 
    //
      [if mso]>
                              </td>
                              </tr>
                              </table>
                              <![endif]
//  Thumbnail Left, Text Right : END 
//  Thumbnail Right, Text Left : BEGIN 
tr
  //  dir=rtl is where the magic happens. This can be changed to dir=ltr to swap the alignment on wide while maintaining stack order on narrow. 
  td(dir='rtl' height='100%' valign='top' width='100%' style='font-size:0; padding: 10px; text-align: left; background-color: #ffffff;')
    //
      [if mso]>
                              <table role="presentation" border="0" cellspacing="0" cellpadding="0" width="660" style="width: 660px;">
                              <tr>
                              <td valign="top" width="220" style="width: 220px;">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 220px; min-width:160px; vertical-align:top; width:100%;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td(dir='ltr' style='padding: 0 10px 10px 10px;')
              img.center-on-narrow(src='https://via.placeholder.com/200' width='200' height border='0' alt='alt_text' style='width: 100%; max-width: 200px; height: auto; background: #dddddd; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; color: #555555;')
    //
      [if mso]>
                              </td>
                              <td valign="top" width="440" style="width: 440px;">
                              <![endif]
    .stack-column(style='display:inline-block; margin: 0 -1px; max-width: 440px; min-width:280px; vertical-align:top;')
      table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
        tbody
          tr
            td.center-on-narrow(dir='ltr' style='font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555; padding: 10px 10px 0; text-align: left;')
              h2(style='margin: 0 0 10px 0; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 18px; line-height: 22px; color: #333333; font-weight: bold;').
                
                Class aptent taciti sociosqu
              p(style='margin: 0 0 10px 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
              //  Button : BEGIN 
              table.center-on-narrow(role='presentation' cellspacing='0' cellpadding='0' border='0' style='float:left;')
                tbody
                  tr
                    td.button-td.button-td-primary(style='border-radius: 4px; background: #222222;')
                      a.button-a.button-a-primary(href='https://google.com/' style='background: #222222; border: 1px solid #000000; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 15px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;') Primary Button
              //  Button : END 
    //
      [if mso]>
                              </td>
                              </tr>
                              </table>
                              <![endif]
//  Thumbnail Right, Text Left : END 
//  Clear Spacer : BEGIN 
tr
  td(aria-hidden='true' height='40' style='font-size: 0px; line-height: 0px;').
    
     
    
//  Clear Spacer : END 
//  1 Column Text : BEGIN 
tr
  td(style='background-color: #ffffff;')
    table(role='presentation' cellspacing='0' cellpadding='0' border='0' width='100%')
      tbody
        tr
          td(style='padding: 20px; font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif; font-size: 15px; line-height: 20px; color: #555555;')
            p(style='margin: 0 0 10px 0;') Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet malesuada cursus. Maecenas scelerisque congue eros eu posuere. Praesent in felis ut velit pretium lobortis rhoncus ut erat.
//  1 Column Text : END 