@import "../mixins";
@import "../variable";
@import '../../plugins/slick/slick-theme.scss';
@import '../../plugins/slick/slick.scss';

.listaBody {
  background-color: #eaedf5;
}

.listaContainer {
  width: 100%;
  margin: 0 auto;
  @include container(1025px, 20px, 20px);
  padding-top: 58px;
  padding-bottom: 63px;
  @include rwd-mobile($md) {
    padding: 33px 30px 52px;
  }
  h1 {
    font-size: 42px;
    line-height: 42px;
    font-weight: 600;
    text-align: center;
    color: #002247;
    margin-bottom: 40px;
    @include rwd-mobile($md) {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 25px;
    }
  }
}

.listaFlex {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  justify-content: center;
  > div {
    flex: 0 1 33.33%;
    $imgsList: bg_medical bg_mutiple bg_satisfy bg_india bg_china;
    @each $item in $imgsList {
      $i: index($imgsList, $item);
      &:nth-child(#{$i}) {
        .item {
          .img {
            background-image: url(#{$img}articles/0#{$i}.png);
            @include rwd-mobile($md) {
              background-image: url(#{$img}articles/0#{$i}_sm.png);
            }
          }
        } 
      }
    }
    > div {
      padding: 5px 5px;
    }
    .item {
      border-radius: 16px;
      border: solid 4px #002247;
      background-color: #ffffff;
      padding: 23px 20px 16px;
      display: block;
      @include hover();
      .img {
        width: 100%;
        padding-bottom: 67%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        margin-bottom: 10px;
      }
			.text {
        .title {
          padding-bottom: 7px;
          div {
            font-size: 24px;
            line-height: 30px;
            font-weight: 600;
            color: #002247;
          }
        }
        p {
          font-size: 15px;
          line-height: 22px;
          color: #666666;
          padding-bottom: 26px;
          margin-bottom: 0px;
          text-align: justify;
          // max-height: 92px;
          // height: 92px;
          // overflow: hidden;
          span {
            height: 66px;
            min-height: 66px;
          }
        }
        .button {
          display: block;
          color: #ffffff;
          font-size: 16px;
          line-height: 16px;
          font-weight: 600;
          text-align: center;
          width: 86px;
          margin-left: auto;
          padding: 8px 2px;
          background-color: #d9b860;
          border-radius: 6px;
          transition: .3s all;
          @include hover(){
            opacity: .8;
          }
        }
      }
    }
    @include rwd-mobile($md) {
      flex: 0 1 100%;
      .item {
        display: flex;
        padding: 15px;
        border: solid 3px #002247;
        .img {
          width: 112px;
          padding-bottom: 112px;
          margin-bottom: 0px;
          margin-right: 10px;
        }
        .text {
          width: 50%;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          .title {
            flex-grow: 1;
            div {
              font-size: 18px;
              line-height: 24px;
            }
          }
          p {
            display: none;
          }
          a {
            width: 75px;
            padding: 7px 2px;
            font-size: 14px;
            line-height: 14px;
            margin-right: auto;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
