@import "../mixins";
@import "../variable";

.describe {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 50px;
  p {
    display: inline-block;
    margin-bottom: 0;
    font-size: 22px;
    line-height: 26px;
    color: #666666;
    background-color: #e2e2e2;
    padding: 6px 27px;
    border-radius: 20px;
    @include rwd-mobile($md) {
      padding: 6px 18px;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.part_1 .fig_01 {
  margin-bottom: 23px;
  // width: 690px;
  margin-top: 35px;
  &:before{
    padding-bottom: 39.56%;
    background-color: #FFF;
    background-image: url(#{$img}fig_p01_01.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 355px;
    max-width: 100%;
    &:before{
      padding-bottom: 95.107%;
      background-image: url(#{$img}fig_p01_01_sm.png);
    }
  }
}

.part_1 .fig_02 {
  margin-bottom: 50px;
  &:before{
    padding-bottom: 43.39%;
    background-color: #fff;
    background-image: url(#{$img}fig_p01_02.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 85.168%;
      background-image: url(#{$img}fig_p01_02_sm.png);
    }
  }
}

.part_1 .fig_03 {
  margin-bottom: 20px;
  margin-top: 25px;
  
  &:before{
    padding-bottom: 28.241%;
    background-image: url(#{$img}fig_p01_03.png);
  }
  @include rwd-mobile(sm){
    width: 333px;
    max-width: 100%;
    &:before{
      padding-bottom: 99.39%;
      background-image: url(#{$img}fig_p01_03_sm.png);
    }
  }
}

.part_2 .fig_01 {
  margin-bottom: 50px;
  &:before{
    padding-bottom: 46.56%;
    background-color: #fff;
    background-image: url(#{$img}fig_p02_01.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 97.85%;
      background-image: url(#{$img}fig_p02_01_sm.png);
    }
  }
}

.part_2 .fig_02 {
  margin-bottom: 50px;
  margin-top: 40px;
  width: 616px;
  &:before{
    padding-bottom: 46.877%;
    background-image: url(#{$img}fig_p02_02.png);
  }
  @include rwd-mobile(sm){
    width: 306px;
    max-width: 100%;
    &:before{
      padding-bottom: 90.36%;
      background-image: url(#{$img}fig_p02_02_sm.png);
    }
  }
}

.part_2 .fig_03 {
  // margin-bottom: 30px;
  margin-top: 58px;
  &:before{
    padding-bottom: 40.466%;
    background-color: #fff;
    background-image: url(#{$img}fig_p02_03.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 195.09%;
      background-image: url(#{$img}fig_p02_03_sm.png);
    }
  }
}

.part_3 .fig_01 {
  margin-bottom: 35px;
  margin-top: 45px;
  width: 558px;
  &:before{
    padding-bottom: 56.45%;
    background-image: url(#{$img}fig_p03_01.png);
  }
  @include rwd-mobile(sm){
    width: 331px;
    max-width: 100%;
    &:before{
      padding-bottom: 78.247%;
      background-image: url(#{$img}fig_p03_01_sm.png);
    }
  }
}

.part_3 .fig_02 {
  width: 703px;
  margin-bottom: 33px;
  &:before{
    padding-bottom: 26.6%;
    background-image: url(#{$img}fig_p03_02.png);
  }
  @include rwd-mobile(sm){
    width: 280px;
    max-width: 100%;
    &:before{
      padding-bottom: 175.71%;
      background-image: url(#{$img}fig_p03_02_sm.png);
    }
  }
}

.part_3 .fig_03 {
  margin-bottom: 34px;
  width: 635px;
  &:before{
    padding-bottom: 63.465%;
    background-image: url(#{$img}fig_p03_03.png);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 76.553%;
      background-image: url(#{$img}fig_p03_03_sm.png);
    }
  }
}

.part_4 .fig_01 {
  margin-bottom: 50px;
  &:before{
    padding-bottom: 51.875%;
    background-color: #fff;
    background-image: url(#{$img}fig_p04_01.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 96.96%;
      background-image: url(#{$img}fig_p04_01_sm.png);
    }
  }
}

.part_4 .fig_02 {
  margin-bottom: 30px;
  &:before{
    padding-bottom: 47.99%;
    background-image: url(#{$img}fig_p04_02.png);
  }
  @include rwd-mobile(sm){
    width: 327px;
    max-width: 100%;
    &:before{
      padding-bottom: 158.1%;
      background-image: url(#{$img}fig_p04_02_sm.png);
    }
  }
}

.part_4 .fig_03 {
  margin-bottom: 0px;
  &:before{
    padding-bottom: 34.28%;
    background-color: #fff;
    background-image: url(#{$img}fig_p04_03.png);
    box-shadow: 2.3px 2px 12.2px .8px rgba(#000, .1);
  }
  @include rwd-mobile(sm){
    width: 500px;
    max-width: 100%;
    &:before{
      padding-bottom: 46.01%;
      background-image: url(#{$img}fig_p04_03_sm.png);
    }
  }
}

.kiss_flex {
  display: flex;
  margin-bottom: 20px;
  @include rwd-mobile($sm) {
    flex-direction: column;
    padding: 0px 47px;
  }
  .item + .item {
    margin-left: 20px;
    @include rwd-mobile($sm) {
      margin-top: 18px;
      margin-left: 0px;
    }
  }
  .item {
    width: 25%;
    padding: 13px 11px 11px 60px;
    background-color: #ffffff;
    box-shadow: 2.3px 1.9px 12.2px 0.8px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    min-height: 126px;
    position: relative;
    @include rwd-mobile($sm) {
      width: 100%;
    }
    img.big {
      height: 90px;
      position: absolute;
      top: 4px;
      left: -13px;
    }
    img {
      height: 20px;
      position: absolute;
      bottom: 5px;
      left: 12px;
    }
    h5 {
      font-size: 17px;
      line-height: 24px;
      color: #16849f;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
}