@import "../mixins";
@import "../variable";

.bgContent {
  background-image: url(#{$img}bg_index.png);
  background-size: 1880px auto;
  background-position: center -106px;
  overflow: hidden;
  position: relative;
  &.promotion {

  
    .bursh_01, .bursh_02 {
      position: absolute;
      &:after {
        content: '';
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .bursh_01 {
      width: 525px;
      top: -105px;
      right: 0;
      &:after {
        background-image: url(#{$img}promote_brush_01.png);
        width: 100%;
        padding-bottom: 156.857%;
      }
      
      @include rwd-mobile(lg) {
        display: none;
      }
    }

    .bursh_02 {
      bottom: -508px;
      left: 0;
      width: 167px;
      &:after {
        background-image: url(#{$img}promote_brush_02.png);
        width: 100%;
        padding-bottom: 758.997%;
      }
      
      @include rwd-mobile(lg) {
        display: none;
      }
    }
  }
}

.bgContent {
  .promotionContainer_1, .promotionContainer_2 {
    z-index: 3;
    position: relative;
  }
  .promotionContainer_1 {
    @include container (760px, 25px, 25px);
    padding-top: 78px;
    padding-bottom: 25px;
    @include rwd-mobile(sm) {
      padding-top: 30px;
      padding-bottom: 10px;
    }
  }
  .promotionContainer_2 {
    @include container (856px, 25px, 25px);
    padding-top: 25px;
    padding-bottom: 32px;
    height: auto;
    @include rwd-mobile(sm) {
      padding-bottom: 36px;
      padding-top: 10px;
    }
  }
  
}

.checkContent {
  // @include container();
  padding-right: 270px;
  position: relative;
  @include rwd-mobile(sm) {
    padding-right: 0px;
  }
  img.tag {
    height: 185px;
    position: absolute;
    right: 53px;
    bottom: 15px;
    @include rwd-mobile(sm) {
      height: 131px;
      right: 0px;
      bottom: auto;
      top: 10px;
    }
  }
  .text {
    display: flex;
    align-items: flex-start;
    text-align: justify;
    &:last-of-type {
      h5 {
        margin-bottom: 0;
      }
    }
    h5 {
      font-size: 22px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 14px;
      color: #001f49;
      flex: 1 1 100%;
      @include rwd-mobile(sm) {
        font-size: 18px;
        line-height: 20px;
      }
      span {
        color: #444444;
      }
      br.mobile {
        display: none;
        @include rwd-mobile(sm) {
          display: block;
        }
      }
    }
    
    @media only screen and (sm) {
      @for $i from 1 through 5 {
        &:nth-child(#{$i}){
          h5 {
            padding-right: 138px;
          }
        }
      }
    }
    @media only screen and (max-width: 352px ) {
      h5 br.mobile {
        display: none;
      }
    }
    @media only screen and (max-width: 374px ) {
      &:nth-child(1){
        h5 {
          padding-right: 110px;
        }
      }
      &:nth-child(2){
        h5 {
          padding-right: 138px;
        }
      }
      &:nth-child(3){
        h5 {
          padding-right: 138px;
        }
      }
    }

    img {
      height: 20px;
      margin-right: 8px;
      margin-top: 4px;
      @include rwd-mobile(sm) {
        height: 16px;
        margin-right: 5px;
        margin-top: 2px;
      }
    }
  }
}


.promotionFlex {
  display: flex;
  margin: 0 -10px;
  @include rwd-mobile(sm) {
    display: block;
  }
  > div {
    flex: 1 1 50%;
    padding: 0 10px;
    @include rwd-mobile(sm) {
      & + div {
        margin-top: 17px;
      }
    }
    .item {
      border-radius: 20px;
      box-shadow: 1.5px 2.6px 10px 0 rgba(0, 0, 0, 0.35);
      background-color: #fff;
      overflow: hidden;
      .top {
        display: flex;
        justify-content: space-between;
        padding: 28px 19px 19px 25px;
        @include rwd-mobile(sm) {
          padding-top: 15px;
          padding-bottom: 13px;
        }
        h3 {
          color: #002247;
          font-size: 22px;
          line-height: 22px;
          font-weight: 600;
          margin-bottom: 0px;
          display: flex;
          align-items: center;
          @include rwd-mobile(sm) {
            font-size: 18px;
            line-height: 18px;
          }
        }
        span {
          font-size: 15px;
          color: #07639d;
          border: 2px solid #07639d;
          padding: 0px 8px;
          line-height: 30px;
          @include rwd-mobile(sm) {
            font-size: 13px;
            line-height: 26px;
            border: 1px solid #07639d;
          }
        }
      }
      .middle {
        display: flex;
        @include rwd-mobile(sm) {
          display: block;
        }
        .part {
          text-align: center;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f1eeee;
            color: #333333;
            font-size: 16px;
            line-height: 22px;
            padding: 17px 24px 13px;
            margin-bottom: 0px;
            height: 76px;
            @include rwd-mobile(sm) {
              padding: 13px 24px 10px;
              height: auto;
            }
          }
          h5 {
            color: #07639d;
            margin-bottom: 0px;
            font-size: 36px;
            font-family: ArialMT, Arial, $noto-sans;
            font-weight: 400;
            line-height: 36px;
            padding: 24px 24px 27px 24px;
            @include rwd-mobile(sm) {
              font-size: 30px;
              line-height: 30px;
              padding-top: 0px;
              padding-bottom: 10px;
            }
            span {
              font-size: 20px;
              margin-left: 3px;
            }
          }
          @include rwd-mobile(sm) {
            p {
              background: transparent;
            }
            &:nth-child(odd) {
              background-color: #f1eeee;
            }
            &:nth-child(even) {

            }
          }
          
        }
      }
    }
  }
}

.btnGroup {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  
  .btn {
    min-width: 210px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 22px;
    + .btn {
      margin-left: 22px;
    }
    &:after {
      content: '';
      display: block;
      width: 43px;
      height: 43px;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  $bgList: #d9b860, #002247, #07639d;
  @each $bg in $bgList {
    $i: index($bgList, $bg);
    .btn:nth-child(#{$i}){
      background-color: $bg;
      @include hover(#FFF, lighten($bg, 10%));
      &:after {
        background-image: url(#{$img}ico_promo_0#{$i}.png);
      }
    }
    @if $i > 1 {
     .btn:nth-child(#{$i}){
       &:after {
         margin-left: 5px;
       }
     } 
    }
  }

  @include rwd-mobile(sm) {
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    .btn {
      width: 250px;
    }
    .btn + .btn {
      margin-left: 0;
      margin-top: 22px;
    }
  }
}

.footNote {
  padding-top: 84px;
  @include rwd-mobile(sm) {
    padding-top: 67px;
  }
  h3 {
    font-size: 20px;
    line-height: 28px;
    color: #010101;
    margin-bottom: 23px;
    span {
      font-size: 28px;
      color: #07639d;
      margin: 0 4px;
    }
  }
  ul {
    list-style-type: decimal;
    margin-left: 0px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin: 0;
    text-align: justify;
  }
}