extends ./layouts/articles.pug

block urlVariable
	- var url = './'
	- var articleIndex = 3
	- var activeMenu = 1

block articleContent
	.date= listaData[articleIndex].date
	.articlesImg
	.articlesText
		p 印度央行近期下調GDP和通膨成長預期，如市場預期印度央行決議下調一碼，此為印度央行今年以來第二次降息；雖上週(14日)公佈CPI略為上揚，但仍遠低於印度央行目標，未來降息機率仍高。保德信投信認為，央行降息對於債券影響大，債券殖利率曲線可望上揚，特別有利於短期債券上攻空間。
		p 
			b 保德信印度機會債券基金(本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)
			| 經理人張世東表示，印度3月份消費者物價指數較去年同期上漲2.86%，略高於市場預期，雖通膨稍有升溫，但仍是連續8個月低於印度央行中期目標4%。儘管本月初印度央行再度降息，符合市場期待，但其降息水準不如市場預期50bps，貨幣政策未轉為完全寬鬆，故市場認為印度央行再度降息機率高。
			span (資料來源：Bloomberg，2019/04/15，保德信投信整理)
		p 張世東指出，4、5月份印度進入大選時刻，看好選舉與政策相關產業。目前民調方面仍是以莫迪政府領先，最新民調國家民主聯盟(下稱NDA)可獲得279席，觀察前兩次莫迪之NDA勝選時，外資大幅流入，印度債券市場可望持續受到資金進駐，後市表現仍然可期待。張世東進一步指出，美國聯準會政策轉向、中美貿易談判順暢，市場信心回穩，3月份外資大舉買入新興市場債券99億美元，其中印度最為吸金，3月份流入22億美元，顯見印度債券備受市場青睞。
			span (資料來源：Bloomberg& Standard Chart Research，2019/04/15，保德信投信
		p 張世東認為，鑒於此債券殖利率曲線仍會趨於陡峭，特別有利於短期債券表現。主要係因市場預期印度央行仍會降息一碼，短期債券殖利率有再下滑空間；然長天期債券，因兩黨政策皆著重農村經濟，料長期債券仍會受到財政赤字擴大下跌空間有限。考量短期債券殖利率回落(roll-down)投資策略，短期債券較具有投資價值。
			b 張世東
			| 建議，印度債券擁有高信評、高息收之優勢，建議投資人可持續擁有印度債券型基金，參與長期收益提升的機會。
			br
		.note(style='margin-top: 0') 以上投資比例將根據市場情況而隨時更改。
			br
			b 注意：本資料所示之指數係為說明或舉例之目的，並非推薦投資，且未必為保德信投信所管理基金之對比指數。
	

block script
	script(src= url + 'assets/js/plugin/slick/slick.min.js')
	script(src= url + 'assets/js/handleMarketTitle.js')