extends ./layouts/articles.pug

block urlVariable
	- var url = './'
	- var articleIndex = 2
	- var activeMenu = 1

block articleContent
	.date= listaData[articleIndex].date
	.articlesImg
	.articlesText
		p 今年以來台股氣勢如虹，加權指數持續創下新高，資金行情表現超乎預期，美國S&P500離歷史高點僅有1.8%距離，然對照企業獲利趨緩表現，顯見市場受到資金買盤推動。近來台股進入融券回補行情，指數維持在10,800點高檔震盪，加重融券戶心理壓力，融券回補成為市場堅定買盤。
		p 台股維持高檔不墜原因，外資動向也是重要指標，外資去年淨流出台股新台幣3,580億左右，流出金額僅次於金融海嘯時期，今年以來外資回補(截至4月9日止)台股淨流入新台幣1,353億左右，尚有新台幣2,000億左右資金尚未回流，儘管財報空窗期將結束，台股「萬一」行情可能近關情怯，倘若「萬一」壓回，後市仍可望有資金買盤獲得支撐。
		p 由於第一季為傳統淡季，台灣經濟數據表現依然乏善可陳，2月景氣對策信號由20分降至17分，燈號為黃藍燈，下降原因主要係因為農曆春節工作天數較少所致；此外，同樣2月出口同樣受到春節因素影響，2月出口數據年減-8.8%，連續4個月負成長，外銷訂單驟減115.9億美元，2月外銷訂單僅289.0億美元。全球經濟趨緩，台灣外需市場成長面臨下行壓力。
		p 上半年通訊和電子產品受到傳統淡季影響，接單狀況趨緩，但歡迎台商回台投資方案已有18間通過，總投資金額為570億，可創造7,700個就業機會，倘若加上審查中的22家，市場預估可再創造400億元，逾1,000個就業機會，台灣就業市場持續受到激勵。故台商回台投資持續增溫，就業市場穩定可望進一步提振內需，加上半導體設備進口已經連續2個月呈現雙位數成長，預料3月景氣燈號將會出現好轉。
		p 適逢4月中旬至5月中旬為美國超級財報公佈期間，這也將會影響台股之電子類股走勢多空關鍵，幾個重量級財報包括AMD、英特爾、微軟、蘋果、亞馬遜、GOOGLE等。市場對於今年美股獲利偏向保守，預期今年第一季獲利年減幅為-4.0%左右。預期今年受到公司買回庫藏股表現強勁之科技公司，可能因為財報因素陷入膠著，後續需留意回檔表現。
		p 相對的台股也容易受到美股財報影響，類股會出現快速輪動，因此投資必須要有策略，展望台股第二季會有較好表現類股，如快閃記憶體和面板族群，受到去年修正股價基期較低，此波台股強彈也未有太大表現，若逢高檔修正遇到基期低因素，股價受到
		p 此外， 美國帶頭抵制華為手機，但華為在5G的行動通訊設備受到全球矚目，促使各國加快腳步推動5G技術與設施，致力發展智慧城市。隨著未來5G上路，網通產業在其中扮演核心關鍵，網通為提供傳輸基本要件，其中可運用在交通、公用事業、建築和智能服務。根據市場預估全球智慧城市規模預計到2023年可達7,172億美元，年複合成長率為18.4%，未來幾年將持續快速發展，網通族群可望延續強勁表現。
		p 再則，政府11日拍板將台商資金匯回台灣中，有25%可投資股市，料將可持續支撐台股表現。在股票評價面來看，儘管近期台股短線漲多，但目前本益比與過去五年相當，仍算合理水準。展望台股後市，往年第一季為傳統淡季，第二季庫存消化進尾聲，第三季庫存回補效應將再啟動，預期企業獲利可望逐季好轉，加上年底台灣大選到來，台股漲聲行情可以期待
		.note(style='margin-top: 0')
			b 注意：本資料所示之指數及個股係為說明或舉例之目的，並非推薦投資，且未必為保德信投信所管理基金之對比指數或所投資之標的。

block script
	script(src= url + 'assets/js/plugin/slick/slick.min.js')
	script(src= url + 'assets/js/handleMarketTitle.js')