extends ./layouts/articles.pug

block urlVariable
	- var url = './'
	- var articleIndex = 0
	- var activeMenu = 1

block articleContent
	.date= listaData[articleIndex].date
	.articlesImg
	.articlesText
		p 近期美國FDA局長意外請辭，引起市場對醫療產業擔憂，醫療類股出現較大拉回整理。保德信投信指出，因短期事件影響，醫療產業股價估值偏低，以目前「藥價負面影響降低」、「大量新藥核准」，以及「生技產業併購溢價」等三大利多，有助提振醫療產業走勢，建議可逢低加碼醫療產業。
		p 
			b 保德信全球醫療生化基金
			| 經理人江宜虔表示，市場對於藥價市場不確定性已經降低，有利於整體製藥產業投資氣氛。江宜虔指出，據美國衛生部(CMS)預估，創新藥品研發成果豐碩，2018-2027年美國處方藥市場平均成長率為6.1%，許多慢性疾病新療法，將會使得疾病療效有革命性的發展。
		p 相較之下，IMF預估美國2019年經濟成長率僅2.5%，醫療產業可望提供較佳的成長展望。
			span (資料來源：CMS，2019/02，保德信投信整理)
		p 再則，FDA提供友善藥品審核環境，有利醫療產業發展。江宜虔說明，隨著美國FDA持續加速審核藥品上市，去年核准新藥件數高達59項，創下20年來新高。根據過去經驗，新藥核准後五年營收可望達到高峰，醫療產業獲利引擎續燃，後市行情相當值得投資人期待。
		p 此外今年以來醫療併購動作不斷，江宜虔認為現行生物科技公司評價面偏低，有利後續併購活動。江宜虔進一步說明，參考券商統計，過去生物科技類股被併購之股價/營收歷史平均約為11倍，然現行主要生物科技類股的股價/營收比遠低於歷史平均狀況，故江宜虔預期生物科技估值低可望加速併購活動，看好生物科技產業投資動能。
			br
			span (資料來源：Sectoral Asset Management Inc., 2018/12，保德信投信整理)
		p 考量「醫療產業藥價不確定性降低」、「大量新藥核准」以及「併購行情」，三大利多可望挹注偏低醫療股價，未來成長空間可期，有望成為今年拉抬醫療股揚升的主力。趁醫療產業受到利空短期修正，建議投資人可逢低加碼醫療基金，建立中長期投資部位，參與後市上漲動能。
	
	

block script
	script(src= url + 'assets/js/plugin/slick/slick.min.js')
	script(src= url + 'assets/js/handleMarketTitle.js')