extends ./layouts/articles.pug

block urlVariable
	- var url = './'
	- var articleIndex = 4
	- var activeMenu = 1

block articleContent
	.date= listaData[articleIndex].date
	.articlesImg
	.articlesText
		p 近期中國公佈三月出口數據和社會融資規模，雙雙優於市場預期，顯見中國政府寬信用政策，成為景氣回升的催化劑，市場預期中國景氣有望提前走出谷底。保德信投信認為，中國政府近期所推之貨幣與財政政策，對於經濟效益刺激已逐步發酵，企業獲利盈利底有望提前見到成效。
		p 
			b 保德信中國品牌基金
			| 經理人許智洋指出，中國於上周五(12日)公佈三月進出口數據，出口成長超乎預期上揚14%，創近5個月新高，並且拉抬第一季出口轉為正成長1.4%；儘管進口降幅持續擴大-7.6%，但市場預期第二季進口數據有望在經濟好轉下回升。許智洋表示，雖全球經濟和貿易成長動能轉弱，外部因素不確定因素存在，但綜合各方面因素而言，市場預期中國第二季貿易進出口有望呈現溫和成長。
			span (資料來源：Bloomberg，保德信投信整理，2019/4/15)
		p 此外，值得關注的是3月份社會融資規模增加2.86兆人民幣，遠超於前月份7,030億人民幣，增幅高達前值3倍。許智洋分析，中國政府不斷在企業內外部加強政策支持度，短期改善中國融資環境，中期主要係完成利率市場化，長期則是追求整體經濟環境與金融穩定的架構。我們仍須持續關注4月份社融規模是否能夠延續，過去4月將是決斷中國整體市場表現關鍵指標。
			span (資料來源：Bloomberg，保德信投信整理，2019/4/15)
		p 過去A股有種說法稱為「四月決斷」，即每逢四月就可以預期全年市場表現。如2016年市場核心在「金融供給側結構性改革」，當年度4月PPI大幅回升進而帶動宏觀經濟成長；次年市場焦點在企業V型反轉，同樣落在4月，A股也出現「漂亮50」多頭行情；再則，2018年市場焦點在於「去槓桿」和貿易戰，當年4月社融餘額較去年同期比大幅下滑，經濟和股市也同步衰退。
		p 至今年來看，今年中國四月決斷核心在於「寬信用」能否持續，以及基本面拐點是否能夠到來。若4月社融增速能延續，基本面拐點可望出現，在中國政府持續優化經濟結構下，有望提前第三季看到盈利底成效。許智洋建議，在投資策略方面我們仍維持原先看法，建議已有中國部位的投資人可持股續抱；空手投資人則可持續分批佈局，以掌握股市長線上漲趨勢。
		
	

block script
	script(src= url + 'assets/js/plugin/slick/slick.min.js')
	script(src= url + 'assets/js/handleMarketTitle.js')