extends ./layouts/articles.pug

block urlVariable
	- var url = './'
	- var articleIndex = 1
	- var activeMenu = 1

block articleContent
	.date= listaData[articleIndex].date
	.articlesImg
	.articlesText
		p 自去年底以來全球股市持續反彈，特受市場矚目之陸股短短兩個月從熊市轉到牛市的華麗轉身，市場為之喝采。保德信投信指出，2019年機會與風險並存，全球經濟表現並未太差，但景氣趨緩已是不爭事實。今年以來市場波動已成常態，第二季布局可著重具有成長性、抗波動等防禦較佳資產布局。
		p 儘管經濟動能不如以往，保德信投信整理統計，根據市場預估，全球企業盈利增長仍有5%的成長。在美國緩升息和全球資金寬鬆下，股市及債市皆有表現機會。
			span （資料來源：actset, QMA，2019/03）
		p 在成熟國家中，觀察美國ISM製造業指數仍位於景氣榮枯線50以上，經濟仍然呈現擴張態勢；加上Fed貨幣政策轉鴿派，寬鬆貨幣政策將壓抑美元走勢，將給予各類資產喘息空間，預期美股和美債後續仍有表現。
			span （資料來源：Bloomberg，2019/03）
		p 歐洲經濟成長方面仍然溫和，但英國脫歐仍為歐洲帶來變數。
			b 保德信投信
			| 說明，受到外部區需求走弱影響，歐元區去年第四季GDP年增1.2%，創下5年新低，市場預估今年成長為1.1%。目前英國脫歐不明，恐影響企業投資，這也將壓抑歐股後續展望。
			span （資料來源：Factset, QMA，2019/03，保德信投信整理）
		p 中國方面，儘管貿易戰尚未達成協議，卻促使中國政府加速改革驅動力，除貨幣政策外，陸續推出企業減稅、促進民間經濟消費等經濟路線調整，保德信投信認為這些變革可望為中國股市建立結構性長多的基礎。此外，國際資金持續湧入股市，外資也將成為股市穩健發展動力，中國股市「成長力」不容小覷。
		p 近來市場聚焦的5G產業供應鏈，在專利設備方面以華為馬首是瞻，2月在MWC展5G折疊手機，搶盡市場風采，這也讓市場對台灣5G概念股充滿期待，目前台灣廠商在5G終端之晶片、關鍵零組件到系統技術具有國際競爭力，相關供應鏈可望受惠於5G趨勢，看好台股基金後續上攻的「績優力」。
		p 除此之外，印度經濟表現同樣亮眼。第二季印度大選在即，政策紅利陸續出籠可望帶動經濟表現，觀察印度經濟表現，景氣持續擴張、消費物價下滑、美元走勢趨緩，印度債券享有投資等級，且平均殖利率優於全球高收益債券，兼具品質與收益高的「息收力」優勢，預料在波動環境下將會持續吸引資金流入，支撐債券市場表現。
		p 市場對於景氣增速放緩已有共識，但與景氣循環相關性低的醫療產業，可提供投資人防禦型的投資選擇。由於長期全球藥品具有需求穩健成長性，較不受景氣影響；再則醫療產業股價估值偏低，藥價負面影響降低、大量新藥核准，生技產業併購等利多，因此，看好醫療產業未來成長，擁有長期穩定「趨勢力」行情。
		p 今年以來市場面臨不少挑戰，如貿易戰持續、歐美政治雜音、地緣政治風險等，市場變數多空難測，保德信投信建議投資布局應穩中求進、均衡配置為上，並以多重資產基金核心布局，藉以多元資產「靈活力」分散市場波動，才能安然度過市場震盪。
		p 保德信投信表示今年以來風險資產仍有不少投資機會，但須留意景氣末升段風險，對於風險資產應審慎應對。第二季資產配置方面，可逢低加碼具有「成長力」、「績優力」之陸股和台股，參與股市上漲行情；並持續握有高「息收力」印度債券，長期投資效果佳，另將防禦型之「趨勢力」醫療和「靈活力」多元資產基金納入投資組合，抵禦市場波動常態行情。
		.note(style='margin-top: 0')
			b 注意：本資料所示之指數及個股係為說明或舉例之目的，並非推薦投資，且未必為保德信投信所管理基金之對比指數或所投資之標的。
	

block script
	script(src= url + 'assets/js/plugin/slick/slick.min.js')
	script(src= url + 'assets/js/handleMarketTitle.js')