extends ./layouts/master.pug
block urlVariable
	- var url = './'
	- var activeMenu = 2
include ./layouts/components/pug_mixins
block content
	.part_5
		section.powerSection
			+titleBlock()
				span 保德信金滿意基金
			
			.subTitleBox
				.subTitle
					label
						span 最適合
						br
						| 這樣的您
					ul
						li 欲布局台股
						li 偏好績優股
						li 想參與台股產業成長
			.container
				h3.altTitle
					div
						span 追求績優力
						span 台股金滿意
				p 台股平均股利率逾4%、為世界科技重鎮，不僅是外資於亞股市場中相對青睞的市場，也是投資人最熟悉的市場。因台股易受全球經濟與政治等因素影響，波動幅度大且頻繁，即使市場震盪也能快速回升，看好台灣長期潛力的投資人，絕不能錯過！
				.note 資料來源：Bloomberg，2019/2/20。
		section.powerSection.subSection
			.container
				h3.altTitle.sec.white
					div
						i.ico.ico_01
						| 基金優勢
				h4.skewTitle
						span
							i 精選三高策略
			.container_sm
				+hasLabel(['高EPS'])
					span 只選最好！鎖定連續3年EPS高於市場均值的績優股
				.fig.fig_01
					.note 資料來源：Cmoney，保德信投信。資料期間：2009~2017。
				+hasLabel(['高規模'])
					span 牌子老、投資人最偏好！成立達23年以上，規模遠超同業平均4倍以上
				.fig.fig_02
				.note 資料來源：SITCA，保德信投信整理，採投信投顧公會 ─ 國內一般股票型分類。資料時間：2019/2/28。
				+hasLabel(['高成長', '+', '高股息'], 'fullMobile')
					span 雙高引擎領頭！以中長期佈局，精選績優股與成長股，打造高成長+高股息雙引擎
				.fig.fig_03
				.note 資料來源：保德信投信。資料期間：2019/2。
		section.powerSection.bottom
			.container
				h3.altTitle.sec
					div
						i.ico.ico_02
						| 基金績效表現
				-
					var tableCols = {
						cols: [
							['3個月',    '10.41'],
							['6個月',    '0.35'],
							['1年',      '5.11'],
							['2年',      '17.00'],
							['3年',      '27.56'],
							['5年',      '28.83'],
							['10年',     '112.38'],
							['今年以來', '10.41'],
							['成立以來', '636.87'],
						]
					}

				+flexTable(tableCols)
					| 累積
					br
					| 報酬
					br
					| (%)
				.note 資料來源：Lipper，2019/3/29
				+powerBtn('績優力', 'http://www.pru.com.tw/uploadfiles/2019/201904/Taiwan.pdf')
				
block script
	script(src= url + 'assets/js/handleTitle.js')
		