extends ./layouts/master.pug
block urlVariable
	- var url = './'
	- var activeMenu = 2
include ./layouts/components/pug_mixins
block content
	.part_4
		section.powerSection
			+titleBlock()
				span 保德信全球醫療生化基金
			
			.subTitleBox
				.subTitle
					label
						span 最適合
						br
						| 這樣的您
					ul
						li 洞察人口老化趨勢
						li 欲跳脫景氣循環影響
						li 認同長期價值投資
			.container
				h3.altTitle
					div
						span 瞄準趨勢力
						span 銀髮大商機
				p 聯合國預估，2050年全球60歲以上人口，將達21億，近4分之一的世界人口超過60歲以上，活得好活得久的醫療需求勢必更為強烈。而據研調機構FactSet預估，2019年S&P500各產業別中，醫療保健產業預期營收增幅達13.1％，為十大產業之冠。醫療產業自然為逆風、順風中最不敗的選擇。
				.note 資料來源:FactSet, 保德信投信整理，2019/01
		section.powerSection.subSection
			.container
				h3.altTitle.sec.white
					div
						i.ico.ico_01
						| 基金優勢
				h4.skewTitle
						span
							i 生醫基金領者AGE迎高齡商機
			.container_sm
				+hasLabel(['UM最大'], 'headFont', 'A')
					span 92.30億規模為境內基金最大，深受投資人肯定
				.fig.fig_01
					.note 資料來源：理柏、投信投顧公會/理柏(台灣)基金分類的「生物科技/健康護理股票」，截至2019/3/31。
						span 注意：基金資產規模不代表基金報酬率，且過去資產規模不代表未來資產規模；基金資產規模可能因市場因素而上下波動。
				+hasLabel(['ood Theme'], 'headFont', 'G')
					span 靈活掌握製藥、生技、醫材、服務等4大產業，攻守兼備
				.fig.fig_02
				.note 資料來源：保德信投信，2019/03。投資組合涵蓋製藥、生技、器材、服務類股，舉凡和醫療生技相關的題材，全面掌握醫療產業投資機會。
				+hasLabel(['xperience'], 'headFont', 'E')
					span 生醫投資先驅，逾16年投資經驗豐富
				.fig.fig_03
					.note 資料來源：保德信投信、理柏，2019/03。生醫基金是指理柏(台灣)基金分類的「生物科技/健康護理股票」。
		section.powerSection.bottom
			.container
				h3.altTitle.sec
					div
						i.ico.ico_02
						| 基金績效表現
				-
					var tableCols = {
						cols: [
							['3個月',    '10.17'],
							['6個月',    '-3.91'],
							['1年',      '14.43'],
							['2年',      '9.62'],
							['3年',      '9.73'],
							['5年',      '18.03'],
							['10年',     '134.41'],
							['今年以來', '10.17'],
							['成立以來', '233.80'],
						]
					}

				+flexTable(tableCols)
					| 累積
					br
					| 報酬
					br
					| (%)
				.note 資料來源：Lipper，2019/3/29
				+powerBtn('趨勢力', 'http://www.pru.com.tw/uploadfiles/2019/201904/Biotech.pdf')
				
block script
	script(src= url + 'assets/js/handleTitle.js')