extends ./layouts/master.pug
block urlVariable
	- var url = './'
	- var activeMenu = 2
include ./layouts/components/pug_mixins
block content
	.part_3
		section.powerSection
			+titleBlock()
				span 保德信策略成長ETF組合基金
			
			.subTitleBox
				.subTitle
					label
						span 最適合
						br
						| 這樣的您
					ul
						li 為退休準備
						li 想擁有完善資產配置       
						li 欲降低資金成本
			.container
				h3.altTitle
					div
						span 打造靈活力
						span 組合創契機
				p 美國聯準會釋放鴿派信號，引發美債殖利率倒掛，也造成市場情緒躁動，擔憂經濟成長放緩。事實上，追求機會也必須為風險做準備，想要隨漲抗震，透過靈活配置全球股、債、REITs、商品等不同標的的組合收益策略，是這個不確定的時代中最佳的投資選擇。
		section.powerSection.subSection
			.container
				h3.altTitle.sec.white
					div
						i.ico.ico_01
						| 基金優勢
			.container_sm
				h4.skewTitle
					span
						i 
							span 擁抱好策略
							span 投資更輕鬆
				+hasLabel(['好組合'])
					span 掌握六大優勢「降低成本、標的多元、流動性佳、貼近指數、降低波動、分散風險」，打造最適ETF組合基金
				.fig.fig_01
				.note 資料來源：保德信投信。資料時間：2019/2。
				+hasLabel(['好策略'])
					span 精準掌握市場展望、總經政策、市場短期變化，以短中長期策略創造報酬機會
				.fig.fig_02
				.note 資料來源：Bloomberg、保德信投信，2019/2。
					span 注意：本資料所示之指數係為說明或舉例之目的，並非推薦投資，且未必為保德信投信所管理基金之對比指數。
				+hasLabel(['好品質'])
					span 採多元組合進行配置，降低波動、追求成長機會
				.describe(style='margin-top: 35px')
					p 基金投資績效綜覽
				.fig.fig_03
				.note 資料來源：投信投顧公會，保德信投信， 2019/3/29。同業分類採投信投顧公會-全球跨國組合其他型分類-新台幣計價。
		section.powerSection.bottom
			.container
				h3.altTitle.sec
					div
						i.ico.ico_02
						| 基金績效表現
				-
					var tableCols = {
						cols: [
							['3個月',    '8.00'],
							['6個月',    '-0.13'],
							['1年',      '4.42'],
							['2年',      '-'],
							['3年',      '-'],
							['5年',      '-'],
							['10年',     '-'],
							['今年以來', '8.00'],
							['成立以來', '7.39'],
						]
					}

				+flexTable(tableCols)
					| 累積
					br
					| 報酬
					br
					| (%)
				.note 資料來源：Lipper，2019/3/29
				+powerBtn('靈活力', 'http://www.pru.com.tw/uploadfiles/2019/201904/ETF.pdf')
				
block script
	script(src= url + 'assets/js/handleTitle.js')