extends ./layouts/master.pug
block urlVariable
	- var url = './'
	- var activeMenu = 2
include ./layouts/components/pug_mixins
block content
	.part_2
		section.powerSection
			+titleBlock()
				span 保德信中國品牌基金
			
			.subTitleBox
				.subTitle
					label
						span 最適合
						br
						| 這樣的您
					ul
						li 想參與中國開放與成長
						li 想100%投資A股
						li 看好中國股市長線發展
			.container
				h3.altTitle
					div
						span 放大成長力
						span 中國開新局
				p 中國近期PMI回升至50.5%，重返榮枯線以上，減稅降費2兆人民幣、貨幣寬鬆基調等政策利多陸續發酵，加上MSCI決議年底前提高A股入摩權重至20%，外資佈局速度更是明顯加快，相較去年同期，北上資金流入量已成長逾3倍
					span (註1)
					| 。隨著MSCI等國際指數納入A股比重提高，預期2019年將帶來約760億美元
					span (註2)
					| 的增量資金，有助持續推動大型股的漲升動能！
					span (註1：資料來源：WIND，保德信投信整理，2019/2；註2：興業證券估算，2019/3)
		section.powerSection.subSection
			.container
				h3.altTitle.sec.white
					div
						i.ico.ico_01
						| 基金優勢
			.container_sm
				h4.skewTitle
					span
						i 中國投資之「最」
				+hasLabel(['最純正'])
					span 全台第一檔直接投資 A股主動式基金，率先參與中國股市成長契機
				.fig.fig_01
					.note 資料來源：投信投顧公會。資料期間：截至2019/3。大中華、A股分類基金採投信投顧分類，
						span 以上投資比例將根據市場狀況而隨時更改。
				+hasLabel(['最聚焦'])
					span 嚴選績優大型股，瞄準市場具最競爭優勢之品牌企業
				.fig.fig_02
				.note 資料來源：投信投顧公會，保德信投信整理，2019/3；
					span 以上投資比例將根據市場狀況而隨時更改。
					| 註1:大型股指屬於滬深300指數成份之個股。


				+hasLabel(['最聰明'])
					span 不追高殺低，追求長期報酬表現，以嚴謹的投資流程搭配洞察官方政策，持續挖掘未來政策受惠企業
				.fig.fig_03
					.note 資料來源：保德信投信。資料期間：2019/2。
		section.powerSection.bottom
			.container
				h3.altTitle.sec
					div
						i.ico.ico_02
						| 基金績效表現
				-
					var tableCols = {
						cols: [
							['3個月',    '33.54'],
							['6個月',    '14.84'],
							['1年',      '-1.52'],
							['2年',      '28.09'],
							['3年',      '14.36'],
							['5年',      '43.10'],
							['10年',     '-'],
							['今年以來', '33.54'],
							['成立以來', '9.90'],
						]
					}

				+flexTable(tableCols)
					| 累積
					br
					| 報酬
					br
					| (%)
				.note 資料來源：Lipper，2019/3/29
				+powerBtn('成長力', 'http://www.pru.com.tw/uploadfiles/2019/201904/China.pdf')
				

block script
	script(src= url + 'assets/js/handleTitle.js')