extends ./layouts/master.pug
block urlVariable
	- var url = './'
	- var activeMenu = 3

block content
	.bgContent.promotion
		.bursh_01
		.bursh_02
		.promotionContainer_1
			.checkContent
				.text
					img(src= url + 'assets/imgs/ico_promotion_check.png')
					h5 保德信全球醫療生化基金
				.text
					img(src= url + 'assets/imgs/ico_promotion_check.png')
					h5 保德信金滿意基金
				.text
					img(src= url + 'assets/imgs/ico_promotion_check.png')
					h5 保德信中國品牌基金
				.text
					img(src= url + 'assets/imgs/ico_promotion_check.png')
					h5 保德信策略成長ETF
						br.mobile
						| 組合基金
				.text
					img(src= url + 'assets/imgs/ico_promotion_check.png')
					h5 保德信印度機會債券基金
						span (本基金有相當比重投資於非投資等級之高風險債券且基金之配息來源可能為本金)
				img.tag(src= url + 'assets/imgs/promotopn_tag.png')
		.promotionContainer_2
			.promotionFlex
				div
					.item
						.top
							h3 定期(不)定額
							span 手續費優惠
						.middle
							.part
								p 新台幣3千元起
								h5 0.3
									span %
							.part
								p 新台幣6千元起或
									br
									| 新台幣1萬元起(配息型)
								h5 0
									span %
				div
					.item
						.top
							h3 單筆
							span 手續費優惠
						.middle
							.part
								p 新台幣1萬元起
									br
									| 新台幣10萬元起(配息型)
								h5 0.4
									span %
			.btnGroup
				a.btn(href='https://etrade.pru.com.tw/EC_WebSite/Models/OpenAccount/OpenAccount0.aspx', target='_blank')
					| 新客戶開戶
				a.btn(href='https://etrade.pru.com.tw/EC_WebSite/Models/Login.aspx', target='_blank')
					| 老客戶網路申請
				a.btn(href='http://www.pru.com.tw/act/2018TaiwanRSP/pdf/[A-2]%E5%85%A8%E6%96%B9%E4%BD%8D%E7%90%86%E8%B2%A1%E5%B8%B3%E6%88%B6%E9%96%8B%E6%88%B6%E5%AE%8C%E6%95%B4%E6%96%87%E4%BB%B6_201812.pdf', target='_blank')
					| 申請書下載
			.footNote
				h3 更多申購優惠，請洽諮詢專線
					span (02)8172-5588
					| 將有專人為您服務
				ul
					li 基金交易日期以保德信投信系統設定之營業日為準，每營業日交易截止時間為每週一至五、晚上12點前，逾時或適逢例假日，則視為次一個營業日交易，惟申購是否成功以完成銀行扣款為準。
					li 定期(不)定額申購若因帳戶停扣或因連續三次扣款失敗導致契約終止，則自動取消終身0%手續費優惠，不另行通知。
					li 投資人申請「定期不定額」時，可預設「低、中、高」三段扣款金額級距，並由系統根據投資報酬率的波動與所設定的加減碼門檻，自動判別每一期的扣款金額，以達成逢低加碼或逢高減碼的效果。本專案優惠適用金額為中低金額新台幣3,000元起。
					li 保德信投信得有隨時終止、變更或修改本活動規則及內容之一切權利。
							
							
			
block script
	script.
		
		//- var id = 0;
		$( document ).ready(function() {
			

		}).on("tap click", 'label .openModal', function( event, data ){
					event.stopPropagation();
					event.preventDefault();
					$('#privacyModal').modal('show');
					//- window.open($(this).attr('href'), $(this).attr('target'));
					return false;
		});


		